html{
    /* height: 100%; */
}
body{
    background-color: rgb(252, 139, 63);
    background-image: url(images/image-lion-background.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    background-color: rgb(32, 239, 97);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1{
    background-color: rgb(255, 11, 157);
    min-height: 300px;
    width: 30%;
}

.card2{
    background-color: rgb(255, 171, 221);
    min-height: 300px;
    width: 30%;
}

.card3{
    background-color: rgb(94, 14, 62);
    min-height: 300px;
    width: 30%;
}

.herobox1{
    flex: 2;
}

.herobox2{
    flex: 1;
}
nav{
    display: flex;
    /* justify-content: right; Pushing nav to the right Doesn't work */

}

p{
    margin-right: 3px;
}

